.bg-darkgrey {
    background-color: #b6bcc9;
}
.bg-lightgrey {
    background-color: #d0d7e6;
}
.bg-lightblue {
    background-color: #23ebe1;
}
.bg-lightgreen {
    background-color: #befebe;
}
.bg-rose {
    background-color: #febebe;
}
.bg-apricot {
    background-color: #fefedf;
}
.bg-orange {
    background-color: #fcbe1e;
}
