.carousel-caption {
    color: #ffffff;
}
.carousel-control-next {
    color: #ffffff;
}
.carousel-control-prev {
    color: #ffffff;
}
.carousel-control-next-icon {
    filter: none;
}
.carousel-control-prev-icon {
    filter: none;
}
.carousel-indicators {
    li {
        background-color: #ffffff;
    }
}
.cursor-pointer {
    cursor: pointer;
}
