/*
 * Your Charge Dashboard Theme 
 */

@import "./vars.scss";
body {
    @import "./animate.scss";
    @import "./bg.scss";
    @import "./card.scss";
    @import "./font.scss";
    @import "./form.scss";
    @import "./modal.scss";
    @import "./sidebar.scss";
    @import "./pin.scss";
    @import "./carousel.scss";
    @import "./navbar.scss";

    color: #ffffff;
    background-color: #000;
    font-weight: 300;

    .icon {
        height: 3.5rem;
        min-width: 3.5rem;
        max-width: 4.5rem;
        margin-bottom: 10px;
        svg {
            object-fit: cover;
            max-height: 100%;
        }
    }

    .logo {
        max-height: 34px;
    }

    main {
        height: 100vh;
    }

    .m-l-r-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .resume {
        margin-left: $width;
        margin-right: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 73px;
    }

    hr {
        border-top-color: white;
    }

    .vaRow {
        display: flex;
        align-items: center;
    }

    .hide {
        display: none;
    }

    .shadow {
        -webkit-box-shadow: 0px 5px 5px -0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 5px 5px -0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 5px -0px rgba(0, 0, 0, 0.3);
    }

    .status-indicator {
        align-items: center;
        display: flex;
        height: 22px;
        position: relative;
        width: 22px;
        z-index: 2;
        margin-right: 8px;
        justify-content: center;
        font-size: 16px;
        &::before {
            border-radius: 100px;
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: -1;
        }
        &.active::before {
            background-color: $primary;
        }
        &.inactive::before {
            background-color: $dark-grey;
        }
        &.error::before {
            background-color: red;
        }
    }
    .progress {
        background-color: $dark-grey;
        .progress-bar {
            background-color: $primary;
        }
    }
    :focus {
        outline: none;
        box-shadow: none;
    }
    $shine-color: #e8e8e8;
    $animation-duration: 1.3s;

    @keyframes shine-lines {
        0% {
            background-position: -100px;
        }
        40% {
            background-position: 140px;
        }
        100% {
            background-position: 140px;
        }
    }

    .loading-placeholder {
        background-image: linear-gradient(90deg, $dark-blue 0px, $dark-grey 40px, $dark-blue 80px);
        background-size: 600px;
        height: 16px;
        width: 80px;
        border-radius: 0px;
        animation: shine-lines $animation-duration infinite linear;
    }

    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12,
    col {
        padding-right: 13px;
        padding-left: 5px;
    }
}
