root = true

[*]
indent_style = tab
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{py,yml,lock}]
indent_style = space
indent_size = 4

[*.{yml,lock}]
indent_size = 2

[*.md]
trim_trailing_whitespace = true
indent_style = space
