web/ladelog
web/logging/data/
*.csv
*.log
*.pyc
*.bak
/ramdisk/
.DS_Store
.ftp*
web/settings/.htaccess
web/settings/.passwd
web/lastcommit
modules/soc_tesla/tokens.*
modules/soc_i3/token*
modules/soc_eq/soc_eq_acc_*
modules/soc_vwid/secrets.py
.vscode/settings.json
.pytest_cache
__pycache__
openwb.conf.*
web/backup/*.tar.gz
