.form-control {
  background-color: #343a40;
  border: 1px solid #ced4da;
  color: #ffffff; }
  .form-control:focus {
    background-color: #343a40;
    border: 1px solid #ced4da;
    color: #ffffff; }

.form-control[readonly] {
  background-color: #343a40;
  border: 1px solid #ced4da;
  color: #ffffff; }

.input-group-text {
  background-color: #212529;
  color: #ffffff; }

input {
  background-color: #6c757d;
  color: #ffffff; }
  input[type="password"] {
    border: 1px solid #ced4da; }
  input[type="text"] {
    border: 1px solid #ced4da; }

select {
  background-color: #6c757d;
  color: #ffffff;
  border: 1px solid #ced4da; }

.clockpicker-popover {
  background-color: #343a40; }
  .clockpicker-popover .popover-title {
    background-color: transparent; }
  .clockpicker-popover .popover-content {
    background-color: transparent; }

.clockpicker-plate {
  background-color: black; }
