/*
 * Your Charge Dashboard Theme 
 */
body {
  color: #ffffff;
  background-color: #000;
  font-weight: 300; }

@keyframes alertPulsation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes alertPulsation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes alertPulsation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes alertPulsation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  body .animate-alertPulsation {
    -webkit-animation: alertPulsation 1s infinite;
    -moz-animation: alertPulsation 1s infinite;
    -o-animation: alertPulsation 1s infinite;
    animation: alertPulsation 1s infinite; }
  body .bg-darkgrey {
    background-color: #b6bcc9; }
  body .bg-lightgrey {
    background-color: #d0d7e6; }
  body .bg-lightblue {
    background-color: #23ebe1; }
  body .bg-lightgreen {
    background-color: #befebe; }
  body .bg-rose {
    background-color: #febebe; }
  body .bg-apricot {
    background-color: #fefedf; }
  body .bg-orange {
    background-color: #fcbe1e; }
  body .card {
    background-color: #1b1c34;
    font-size: 1.5rem;
    line-height: 1.7rem;
    border: 0px !important;
    min-height: 4rem;
    margin-bottom: 3px;
    border-right: 3px solid #000; }
  body .card-body {
    background-color: #1b1c34;
    color: #ffffff;
    padding: 1rem 1rem; }
    body .card-body.justify-content-between {
      align-items: center; }
    body .card-body .space {
      margin-bottom: 8px; }
    body .card-body span {
      display: inline-table;
      line-height: 1.5rem; }
    body .card-body .icon {
      height: 86px;
      width: 160px;
      max-width: 280px;
      margin-bottom: 10px;
      fill: #fff;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto; }
      body .card-body .icon svg {
        max-height: 120px;
        height: 120px;
        margin-left: auto;
        margin-right: auto; }
      body .card-body .icon.inactive {
        fill: #6b6e72; }
      body .card-body .icon.plugged {
        fill: #e2e3e8; }
      body .card-body .icon.active {
        fill: #6dbb95; }
    body .card-body .sparkline {
      min-height: 100px; }
  body .card-header.bg-secondary .btn-outline-info:not(.active):not(:hover) {
    background-color: #1b1c34; }
  body .card-header.bg-success .btn-outline-info:not(.active):not(:hover) {
    background-color: #1b1c34; }
  body .card-header.bg-success .btn-outline-info:hover {
    border-color: #1b1c34; }
  body .flex-row {
    display: flex; }
  body .color-primary {
    color: #6dbb95; }
  body .bg-warning {
    color: #212529; }
  body .bg-info {
    color: #212529; }
  body .bg-success {
    color: #212529; }
  body .btn-outline-secondary {
    color: #ffffff; }
  body .btn-block {
    font-size: 24px; }
  body .lpEnabledStyle {
    color: #006515;
    text-decoration: none; }
  body .lpWaitingStyle {
    color: #ffdb00;
    text-decoration: none; }
  body .lpDisabledStyle {
    color: #a30000;
    text-decoration: line-through; }
  body .text-green {
    color: #006515; }
  body .text-red {
    color: #a30000; }
  body .text-white {
    color: white; }
  body .text-orange {
    color: #ff8c1a; }
  body .text-black {
    color: black; }
  body .text-blue {
    color: blue; }
  body .text-grey {
    color: #515151; }
  body .text-lightgrey {
    color: rgba(255, 255, 255, 0.82); }
  body .form-control {
    background-color: #343a40;
    border: 1px solid #ced4da;
    color: #ffffff; }
    body .form-control:focus {
      background-color: #343a40;
      border: 1px solid #ced4da;
      color: #ffffff; }
  body .form-control[readonly] {
    background-color: #343a40;
    border: 1px solid #ced4da;
    color: #ffffff; }
  body .input-group-text {
    background-color: #212529;
    color: #ffffff; }
  body input {
    background-color: #6c757d;
    color: #ffffff; }
    body input[type="password"] {
      border: 1px solid #ced4da; }
    body input[type="text"] {
      border: 1px solid #ced4da; }
  body select {
    background-color: #6c757d;
    color: #ffffff;
    border: 1px solid #ced4da; }
  body .clockpicker-popover {
    background-color: #343a40; }
    body .clockpicker-popover .popover-title {
      background-color: transparent; }
    body .clockpicker-popover .popover-content {
      background-color: transparent; }
  body .clockpicker-plate {
    background-color: black; }
  body .modal-content {
    background-color: #212529;
    color: #ffffff;
    border-color: dimgrey;
    font-size: 2rem; }
    body .modal-content label {
      font-weight: normal; }
  body .modal-dialog {
    max-width: 600px; }
  body .modal-header {
    border-color: dimgrey;
    font-size: 2rem; }
  body .modal-footer {
    border-color: dimgrey;
    font-size: 2rem; }
  body .sidenav {
    height: calc(100% - 70px);
    width: 130px;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 73px;
    left: 0;
    background-color: #1b1c34;
    overflow-x: hidden;
    flex-direction: column;
    padding-top: 0;
    border-right: 3px solid #000; }
    body .sidenav .btn {
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      text-decoration: none;
      font-size: 1.3rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 0;
      border-bottom: 3px solid #000;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 300;
      outline: none;
      transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
      body .sidenav .btn:hover {
        background-color: inherit;
        color: #fff;
        transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
      body .sidenav .btn:focus {
        box-shadow: none;
        outline: none;
        transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
      body .sidenav .btn.active {
        background-color: #000;
        color: #6dbb95;
        outline: none;
        transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
    body .sidenav #displaylock {
      margin-top: auto;
      border: 0;
      border-top: 3px solid #000; }
  body .blur {
    filter: blur(6px);
    transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
  body #lockModal,
  body #changeLockModal,
  body #changeDisplayTimeoutModal {
    transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25);
    border: 0; }
    body #lockModal .modal-dialog,
    body #changeLockModal .modal-dialog,
    body #changeDisplayTimeoutModal .modal-dialog {
      min-width: 460px; }
    body #lockModal .close,
    body #changeLockModal .close,
    body #changeDisplayTimeoutModal .close {
      position: absolute;
      padding: 1rem;
      right: 2.2rem;
      opacity: 1;
      text-shadow: none;
      font-size: 2rem;
      z-index: 2; }
    body #lockModal .modal-content,
    body #changeLockModal .modal-content,
    body #changeDisplayTimeoutModal .modal-content {
      border: 0;
      max-width: 300px;
      background: #3b3f72;
      background: linear-gradient(138deg, #3b3f72 10%, #1b1c34 180%);
      padding: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto; }
      body #lockModal .modal-content span,
      body #changeLockModal .modal-content span,
      body #changeDisplayTimeoutModal .modal-content span {
        font-size: 1.8rem;
        display: block;
        text-align: center;
        color: #6dbb95;
        margin-left: auto;
        margin-right: auto; }
      body #lockModal .modal-content .modal-header,
      body #changeLockModal .modal-content .modal-header,
      body #changeDisplayTimeoutModal .modal-content .modal-header {
        border: 0; }
        body #lockModal .modal-content .modal-header .logo,
        body #changeLockModal .modal-content .modal-header .logo,
        body #changeDisplayTimeoutModal .modal-content .modal-header .logo {
          max-width: 265px;
          margin-left: auto;
          margin-right: auto; }
      body #lockModal .modal-content input,
      body #changeLockModal .modal-content input,
      body #changeDisplayTimeoutModal .modal-content input {
        background: transparent;
        color: #6dbb95 !important;
        padding: 0 4px;
        border: 0;
        width: 205px;
        margin-bottom: 1.4rem;
        border-bottom: 2px solid #6dbb95;
        font-size: 2.8rem; }
      body #lockModal .modal-content .successIcon,
      body #changeLockModal .modal-content .successIcon,
      body #changeDisplayTimeoutModal .modal-content .successIcon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
        body #lockModal .modal-content .successIcon .icon,
        body #changeLockModal .modal-content .successIcon .icon,
        body #changeDisplayTimeoutModal .modal-content .successIcon .icon {
          margin-top: -20px; }
        body #lockModal .modal-content .successIcon.show,
        body #changeLockModal .modal-content .successIcon.show,
        body #changeDisplayTimeoutModal .modal-content .successIcon.show {
          display: flex !important;
          transform: translate(-50%, -50%) scale(0.55);
          transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
      body #lockModal .modal-content #Lockcode,
      body #lockModal .modal-content #changeDisplayTimeout,
      body #changeLockModal .modal-content #Lockcode,
      body #changeLockModal .modal-content #changeDisplayTimeout,
      body #changeDisplayTimeoutModal .modal-content #Lockcode,
      body #changeDisplayTimeoutModal .modal-content #changeDisplayTimeout {
        width: 240px;
        margin-left: auto;
        margin-right: auto; }
      body #lockModal .modal-content .PINbutton,
      body #changeLockModal .modal-content .PINbutton,
      body #changeDisplayTimeoutModal .modal-content .PINbutton {
        background: transparent;
        color: #6dbb95;
        border: 1px solid #6dbb95;
        border-radius: 300px;
        font-size: 3rem;
        text-align: center;
        width: calc(20rem / 3 - 6px);
        height: calc(20rem / 3 - 6px);
        margin: 3px;
        padding: 0;
        transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
        body #lockModal .modal-content .PINbutton.text-danger,
        body #changeLockModal .modal-content .PINbutton.text-danger,
        body #changeDisplayTimeoutModal .modal-content .PINbutton.text-danger {
          border-color: red; }
        body #lockModal .modal-content .PINbutton#continue, body #lockModal .modal-content .PINbutton#continueDisplayTimeout,
        body #changeLockModal .modal-content .PINbutton#continue,
        body #changeLockModal .modal-content .PINbutton#continueDisplayTimeout,
        body #changeDisplayTimeoutModal .modal-content .PINbutton#continue,
        body #changeDisplayTimeoutModal .modal-content .PINbutton#continueDisplayTimeout {
          display: block;
          height: auto;
          width: auto;
          padding: 1.5rem 7rem;
          font-size: 2.4rem;
          margin-top: 2.8rem;
          margin-left: auto;
          margin-right: auto; }
        body #lockModal .modal-content .PINbutton:active,
        body #changeLockModal .modal-content .PINbutton:active,
        body #changeDisplayTimeoutModal .modal-content .PINbutton:active {
          background: #6dbb95;
          color: #3b3f72;
          transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
        body #lockModal .modal-content .PINbutton.success,
        body #changeLockModal .modal-content .PINbutton.success,
        body #changeDisplayTimeoutModal .modal-content .PINbutton.success {
          background: #6dbb95;
          color: #3b3f72;
          height: 360px;
          width: 360px;
          transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
          body #lockModal .modal-content .PINbutton.success .icon,
          body #changeLockModal .modal-content .PINbutton.success .icon,
          body #changeDisplayTimeoutModal .modal-content .PINbutton.success .icon {
            height: 200px;
            width: 200px;
            max-width: 200px;
            margin-bottom: -10px;
            transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
            body #lockModal .modal-content .PINbutton.success .icon svg,
            body #changeLockModal .modal-content .PINbutton.success .icon svg,
            body #changeDisplayTimeoutModal .modal-content .PINbutton.success .icon svg {
              height: 200px;
              width: 200px;
              transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
        body #lockModal .modal-content .PINbutton.enter,
        body #changeLockModal .modal-content .PINbutton.enter,
        body #changeDisplayTimeoutModal .modal-content .PINbutton.enter {
          text-align: center;
          transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
          body #lockModal .modal-content .PINbutton.enter .icon,
          body #changeLockModal .modal-content .PINbutton.enter .icon,
          body #changeDisplayTimeoutModal .modal-content .PINbutton.enter .icon {
            margin-left: auto;
            margin-right: auto;
            height: 28px;
            width: 28px;
            margin-bottom: 10px;
            transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
            body #lockModal .modal-content .PINbutton.enter .icon svg,
            body #changeLockModal .modal-content .PINbutton.enter .icon svg,
            body #changeDisplayTimeoutModal .modal-content .PINbutton.enter .icon svg {
              transition: all 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25); }
  body .modal-backdrop {
    transition: all 0.1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.1); }
  body .carousel-caption {
    color: #ffffff; }
  body .carousel-control-next {
    color: #ffffff; }
  body .carousel-control-prev {
    color: #ffffff; }
  body .carousel-control-next-icon {
    filter: none; }
  body .carousel-control-prev-icon {
    filter: none; }
  body .carousel-indicators li {
    background-color: #ffffff; }
  body .cursor-pointer {
    cursor: pointer; }
  body .navbar {
    justify-content: flex-start;
    background-color: #1b1c34;
    height: 70px;
    font-size: 18px;
    margin-bottom: 0;
    position: fixed;
    z-index: 10;
    width: 100%; }
    body .navbar .flex-row {
      align-items: center; }
    body .navbar a {
      color: #fff; }
  body .icon {
    height: 3.5rem;
    min-width: 3.5rem;
    max-width: 4.5rem;
    margin-bottom: 10px; }
    body .icon svg {
      object-fit: cover;
      max-height: 100%; }
  body .logo {
    max-height: 34px; }
  body main {
    height: 100vh; }
  body .m-l-r-auto {
    margin-left: auto;
    margin-right: auto; }
  body .resume {
    margin-left: 130px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 73px; }
  body hr {
    border-top-color: white; }
  body .vaRow {
    display: flex;
    align-items: center; }
  body .hide {
    display: none; }
  body .shadow {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3); }
  body .status-indicator {
    align-items: center;
    display: flex;
    height: 22px;
    position: relative;
    width: 22px;
    z-index: 2;
    margin-right: 8px;
    justify-content: center;
    font-size: 16px; }
    body .status-indicator::before {
      border-radius: 100px;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: -1; }
    body .status-indicator.active::before {
      background-color: #6dbb95; }
    body .status-indicator.inactive::before {
      background-color: #6b6e72; }
    body .status-indicator.error::before {
      background-color: red; }
  body .progress {
    background-color: #6b6e72; }
    body .progress .progress-bar {
      background-color: #6dbb95; }
  body :focus {
    outline: none;
    box-shadow: none; }

@keyframes shine-lines {
  0% {
    background-position: -100px; }
  40% {
    background-position: 140px; }
  100% {
    background-position: 140px; } }
  body .loading-placeholder {
    background-image: linear-gradient(90deg, #1b1c34 0px, #6b6e72 40px, #1b1c34 80px);
    background-size: 600px;
    height: 16px;
    width: 80px;
    border-radius: 0px;
    animation: shine-lines 1.3s infinite linear; }
  body .col-xs-1,
  body .col-sm-1,
  body .col-md-1,
  body .col-lg-1,
  body .col-xs-2,
  body .col-sm-2,
  body .col-md-2,
  body .col-lg-2,
  body .col-xs-3,
  body .col-sm-3,
  body .col-md-3,
  body .col-lg-3,
  body .col-xs-4,
  body .col-sm-4,
  body .col-md-4,
  body .col-lg-4,
  body .col-xs-5,
  body .col-sm-5,
  body .col-md-5,
  body .col-lg-5,
  body .col-xs-6,
  body .col-sm-6,
  body .col-md-6,
  body .col-lg-6,
  body .col-xs-7,
  body .col-sm-7,
  body .col-md-7,
  body .col-lg-7,
  body .col-xs-8,
  body .col-sm-8,
  body .col-md-8,
  body .col-lg-8,
  body .col-xs-9,
  body .col-sm-9,
  body .col-md-9,
  body .col-lg-9,
  body .col-xs-10,
  body .col-sm-10,
  body .col-md-10,
  body .col-lg-10,
  body .col-xs-11,
  body .col-sm-11,
  body .col-md-11,
  body .col-lg-11,
  body .col-xs-12,
  body .col-sm-12,
  body .col-md-12,
  body .col-lg-12,
  body col {
    padding-right: 13px;
    padding-left: 5px; }
