/*!
Stylesheet zum openWB Dark19_01-Theme

2019 Michael Ortenstein
*/

body {
  color: white;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  /* Old browsers */
  background: rgb(125,126,125);
  /* FF3.6-15 */
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

h3 {
  font-weight: bolder;
  color: white;
}

h5 {
  font-weight: bolder;
  color: white;
}

.pvInfo {
  font-size: 2vw;
  font-weight: bolder;
  color: black;
}

.myGraph {
  width: 100%;
  /* Images default to being inline, inline items cannot have a width, so change to block: */
  display: block;
  /* The following may be needed if there's still a wierd looking 2-3px gap at the bottom of the image in some browsers: */
  vertical-align: bottom;
}
