/* prevent touch gestures */
html, body {
	overscroll-behavior: none;
}

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 180px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding-top: 18px;
	padding-bottom: 18px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	font-size: 22px;
	color: #818181;
	display: block;
}

/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover {
	color: #f1f1f1;
} */

.sidenav .btn {
	margin-bottom: 0.5rem;
}

.sidenav .btn:hover {
	background-color: inherit;
	color: #818181;
}

/* Style page content */
.resume {
	margin-left: 190px; /* Same as the width of the sidebar */
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

body {
	color: var(--color-fg);
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5a5a5a+0,0e0e0e+100;Black+3D */
	/* Old browsers */
	background: var(--color-bg);;
	font-family:Arial, Helvetica, sans-serif
	
}
body {
	color: var(--color-fg);
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
	/* Old browsers */
	background: var(--color-bg);
}
h3 {
	color: var(--color-title);
}
.bg-warning, .bg-info, .bg-success {
	color: #212529;
}

.btn-outline-secondary {
	color: #ffffff;
}
.btn-block {
	font-size: 1.2em;
}
.card {
	background-color: rgba(0, 0, 0, 0)!important;
	/*border-color: rgba(0, 0, 0, 0);*/
	font-size: 16px;
	border: 0px!important;
}
.card-body {
	background-color: var(--color-bg);
	/*border-color: rgba(255, 255, 255, 0.5);*/
	color: #ffffff;
}

.card-header.bg-secondary .btn-outline-info:not(.active):not(:hover),
.card-header.bg-success .btn-outline-info:not(.active):not(:hover) {
	background-color: #212529;
}

.card-header.bg-success .btn-outline-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
}

.card-header.bg-success .btn-outline-info.active,
.card-header.bg-success .btn-outline-info:hover {
	border-color: #212529;
}

.form-control, .form-control[readonly], .form-control:focus {
	background-color: #343a40;
	border: 1px solid #ced4da;
	color: #ffffff;
}

.input-group-text {
	background-color: #212529;
	color: #ffffff;
}

.modal-content {
	background-color: var(--color-bg);
	color: #ffffff;
}



input, select {
	background-color: #6c757d;
	color: #ffffff;
}

input[type="text"], input[type="password"], select {
	border: 1px solid #ced4da;
}

hr {
	border-top-color: white;
}

.modal-dialog {
	max-width: 600px;
}

.modal-content,
.modal-header,
.modal-footer {
	border-color: dimgrey;
	font-size: 1.5em;
}

.modal-content label {
	font-weight: normal;
}

.clockpicker-popover {
	background-color: #343a40;
}

.clockpicker-popover .popover-title,
.clockpicker-popover .popover-content {
	background-color: transparent;
}

.clockpicker-plate {
	background-color: black;
}

.carousel-caption,
.carousel-control-next,
.carousel-control-prev {
	color: #ffffff;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: none;
}

.carousel-indicators li {
	background-color: #ffffff;
}
.cursor-pointer{
	cursor: pointer;
}

.vaRow {
	/* vertical alignment of content in rows */
	display: flex;
	align-items: center;
}

.hide {
	display: none;
}

.lpEnabledStyle {
	color: #006515;
	text-decoration: none;
}
.lpWaitingStyle {
	color: #ffdb00;
	text-decoration: none;
}

.lpDisabledStyle {
	color: #A30000;
	text-decoration: line-through;
}

@keyframes alertPulsation {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}

@-o-keyframes alertPulsation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}

@-moz-keyframes alertPulsation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes alertPulsation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}

.animate-alertPulsation {
	-webkit-animation: alertPulsation 1s infinite;
	-moz-animation: alertPulsation 1s infinite;
	-o-animation: alertPulsation 1s infinite;
	animation: alertPulsation 1s infinite;
}
.text-green {
	color: #4db662;
}

.text-red {
	color: #d12020;
}

.text-white {
	color: white;
}

.text-orange {
	color: #ff8c1a;
}

.text-black {
	color: black;
}

.text-blue {
	color: blue;
}

.text-grey {
	color: #515151;
}

.text-lightgrey {
	color: rgba(255, 255, 255, 0.82);
}

.bg-darkgrey {
	background-color: #b6bcc9;
}

.bg-lightgrey {
	background-color: #d0d7e6;
}
.bg-lightblue {
	background-color: #23ebe1;
}

.bg-lightgreen {
	background-color: #befebe;
}

.bg-rose {
	background-color: #febebe;
}

.bg-apricot {
	background-color:#fefedf;
}

.bg-orange {
	background-color:#fcbe1e;
}


/* #Pin Code style */

#PINform input:focus,
#PINform select:focus,
#PINform textarea:focus,
#PINform button:focus {
	outline: none;
}

#PINform {
	background: #1e2020;
	color: #ffffff!important;
	/* position: absolute;
	width: 600px; height: 450px;
	left: 250px;
	margin-left: -65px;
	top: 50%;
	margin-top: -230px; */
	padding: 10px;
	-webkit-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
}

#PINbox {
	background: #242222!important;
	color: #ffffff!important;
	margin: 3.5%;
	width: 90%;
	font-size: 4em;
	text-align: center;
	border: 1px solid #d5d5d5;
}

.PINbutton {
	background: #ededed;
	color: #7e7e7e;
	border: none;
	border-radius: 3px;
	font-size: 36px;
	text-align: center;
	width: 90px;
	height: 65px;
	margin: 5px 10px;
	padding: 0;
	box-shadow: #506CE8 0 0 1px 1px;
}

.PINbutton.clear {
	background-color: orange;
}

.PINbutton.enter {
	background-color: green;
}

.PINbutton:hover {
	box-shadow: #506CE8 0 0 1px 1px;
}

.PINbutton:active {
	background: #506CE8;
	color: #fff;
}

.clear:hover {
	box-shadow: #ff3c41 0 0 1px 1px;
}

.clear:active {
	background: #ff3c41;
	color: #fff;
}

.enter:hover {
	box-shadow: #47cf73 0 0 1px 1px;
}

.enter:active {
	background: #47cf73;
	color: #fff;
}

.shadow{
	-webkit-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.8rem;
	text-align:center;
}

.verySmallTextSize {
	font-size: 0.8rem;
}

.smallTextSize {
	font-size: 0.7rem;
}

.regularTextSize {
	font-size: 0.9rem;
}

.largeTextSize {
	font-size: 1.1rem;
}

.buttonTextSize {
	font-size: 0.9rem;
}
.tablecell {
	font-size: 1.8rem;
	line-height: 2.0rem;
	vertical-align: middle;
	padding: 0;
}

.theme-gray {
	--color-bg: #333333;
	--color-evu: firebrick;
	--color-pv: #33a02c;
	--color-house: #7f7f7f;
	--color-devices: #f16913;
	--color-charging: #1f78b4;
	--color-export: #b2df8a;
	--color-axis: #666666;
	--color-grid: black;
	--color-frame: #999999;
	--color-subframe: #333333;
	--color-fg: white;
	--color-scale: #999999;
	--color-title: lightgrey;
	--color-battery: goldenrod;
	--color-lp1: #6baed6;
	--color-lp2: #4292c6;
	--color-lp3: #2171b5;
	--color-lp4: #9ecae1;
	--color-lp5: #c6dbef;
	--color-lp6: #deebf7;
	--color-lp7: #08519c;
	--color-lp8: #6baed6;
		--color-co1: #bf3caf;
	--color-co2: #963db3;
	--padding-widget: 0px;
}
.shcolors-normal {
	--color-sh1: #fd8d3c;
	--color-sh2: #f16913;
	--color-sh3: #d94801;
	--color-sh4: #fdae6b;
	--color-sh5: #fdd0a2;
	--color-sh6: #fee6ce;
	--color-sh7: #a63603;
	--color-sh8: #fe4b83;
	--color-sh9: #e4419d;
}

.wb-widget {
	background-color: var(--color-bg);
	border:1px solid var(--color-bg) ;
}

.wb-subwidget {
	border:1px solid var(--color-subframe) ;
	padding:var(--padding-widget);
}
.chargePointName, .currentPrice {
	font-size: 18px;
	text-align:center;
}

.currentPrice {
	color: var(--color-charging);
}
.chargePointData {
	font-size: 15px;
}

.display-button {
	font-size: 16px;
	padding: 9px;
}
.modal-button {
	font-size: 15px;
	padding: 4px;
}
.modal-title {
	font-size: 20px;
}
.modal-header {
	padding: 2px;
	align-items: center;

}
.status-header,.status-title {
	text-align: center;
	font-size: 1em;
}

.modalComment, .modalLabel {
	font-size: 1.2em;
}
