/* prevent touch gestures */
html, body {
	overscroll-behavior: none;
}

body, html, iframe {
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: Open Sans;
}

#loadingdiv {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: xxx-large;
}
