/*!
Stylesheet template

must be included in every theme, leave empty if not needed

*/
#swhite {
	color: white;
}
#arrowAnim {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.arrowrightblue {
	width: 40px;
	height: 40px;
	border: 8px solid;
	border-color: blue transparent transparent blue;
	transform: rotate(135deg);
}
.arrowright {
	width: 40px;
	height: 40px;
	border: 8px solid;
	border-color: green transparent transparent green;
	transform: rotate(135deg);
}
.arrowleftyellow {
	width: 40px;
	height: 40px;
	border: 8px solid;
	border-color: yellow transparent transparent yellow;
	transform: rotate(-45deg);
}
.arrowleft {
	width: 40px;
	height: 40px;
	border: 8px solid;
	border-color: green transparent transparent green;
	transform: rotate(-45deg);
}
.arrowrightred {
	width: 40px;
	height: 40px;
	border: 8px solid;
	border-color: red transparent transparent red;
	transform: rotate(135deg);
}
.arrowup {
	width: 2vw;
	height: 2vw;
	border: 0.5vw solid;
	border-color: blue transparent transparent blue;
	transform: rotate(45deg);
}
.arrowdown {
	width: 40px;
	height: 40px;
	border: 8px solid;
	border-color: green transparent transparent green;
	transform: rotate(-135deg);
  margin: -20px;
}
.arrowdownblue {
	width: 80px;
	height: 80px;
	border: 8px solid;
	border-color: blue transparent transparent blue;
	transform: rotate(-135deg);
  margin: -40px;
}
.arrowSlidingRightSlow {
	position: absolute;
	-webkit-animation: slideright 10s linear infinite; 
	animation: slideright 10s linear infinite;
}
.arrowSlidingRightMid {
	position: absolute;
	-webkit-animation: slideright 5s linear infinite; 
	animation: slideright 5s linear infinite;
}
.arrowSlidingRightFast {
	position: absolute;
	-webkit-animation: slideright 2s linear infinite; 
	animation: slideright 2s linear infinite;
}

.arrowSlidingLeftSlow {
	position: absolute;
	-webkit-animation: slideleft 10s linear infinite; 
	animation: slideleft 10s linear infinite;
}
.arrowSlidingLeftMid {
	position: absolute;
	-webkit-animation: slideleft 5s linear infinite; 
	animation: slideleft 5s linear infinite;
}
.arrowSlidingLeftFast {
	position: absolute;
	-webkit-animation: slideleft 2s linear infinite; 
	animation: slideleft 2s linear infinite;
}
.arrowSlidingUpSlow {
	position: absolute;
	-webkit-animation: slideup 10s linear infinite; 
	animation: slideup 10s linear infinite;
}
.arrowSlidingUpMid {
	position: absolute;
	-webkit-animation: slideup 5s linear infinite; 
	animation: slideup 5s linear infinite;
}
.arrowSlidingUpFast {
	position: absolute;
	-webkit-animation: slideup 2s linear infinite; 
	animation: slideup 2s linear infinite;
}
.arrowSlidingDownSlow {
	position: absolute;
	-webkit-animation: slidedown 10s linear infinite; 
	animation: slidedown 10s linear infinite;
}
.arrowSlidingDownMid {
	position: absolute;
	-webkit-animation: slidedown 5s linear infinite; 
	animation: slidedown 5s linear infinite;
}
.arrowSlidingDowngMid {
	position: absolute;
	-webkit-animation: slidedowng 5s linear infinite; 
	animation: slidedowng 5s linear infinite;
}
.arrowSlidingDownFast {
	position: absolute;
	-webkit-animation: slidedown 2s linear infinite; 
	animation: slidedown 2s linear infinite;
}


.delay1 {
	-webkit-animation-delay: 1s; 
	animation-delay: 1s;
}
.delay2 {
	-webkit-animation-delay: 2s; 
	animation-delay: 2s;
}
.delay3 {
	-webkit-animation-delay: 3s; 
	animation-delay: 3s;
}
@-webkit-keyframes slideright {
	0% { opacity:0; transform: translateX(-6vw); }	
	20% { opacity:0.7; transform: translateX(-0.4vw); }	
	80% { opacity:0.7; transform: translateX(16.4vw); }	
	100% { opacity:0; transform: translateX(22vw); }	
}	
@keyframes slideright {
	0% { opacity:0; transform: translateX(-6vw); }	
	20% { opacity:0.7; transform: translateX(-0.4vw); }	
	80% { opacity:0.7; transform: translateX(16.4vw); }	
	100% { opacity:0; transform: translateX(22vw); }	
}
@-webkit-keyframes slideleft {
	0% { opacity:0; transform: translateX(27vw); }	
	20% { opacity:0.7; transform: translateX(20.4vw); }	
	80% { opacity:0.7; transform: translateX(0.4vw); }	
	100% { opacity:0; transform: translateX(-6vw); }	
}	
@keyframes slideleft {
	0% { opacity:0; transform: translateX(27vw); }	
	20% { opacity:0.7; transform: translateX(20.4vw); }	
	80% { opacity:0.7; transform: translateX(0.4vw); }	
	100% { opacity:0; transform: translateX(-6vw); }

}
@-webkit-keyframes slidedown {
	0% { opacity:0; transform: translateY(-2vw); }	
	20% { opacity:0.7; transform: translateY(-0.6vw); }	
	80% { opacity:0.7; transform: translateY(3.6vw); }	
	100% { opacity:0; transform: translateY(5vw); }	
}	
@keyframes slidedown {
	0% { opacity:0; transform: translateY(-2vw); }	
	20% { opacity:0.7; transform: translateY(-0.6vw); }	
	80% { opacity:0.7; transform: translateY(3.6vw); }	
	100% { opacity:0; transform: translateY(5vw); }	
}
@-webkit-keyframes slidedowng {
	0% { opacity:0; transform: translateY(0vw); }	
	20% { opacity:0.7; transform: translateY(2vw); }	
	80% { opacity:0.7; transform: translateY(8vw); }	
	100% { opacity:0; transform: translateY(10vw); }	
}	
@keyframes slidedowng {
	0% { opacity:0; transform: translateY(0vw); }	
	20% { opacity:0.7; transform: translateY(2vw); }	
	80% { opacity:0.7; transform: translateY(8vw); }	
	100% { opacity:0; transform: translateY(10vw); }	
}

@-webkit-keyframes slideup {
	0% { opacity:0; transform: translateY(5vw); }	
	20% { opacity:0.7; transform: translateY(3vw); }	
	80% { opacity:0.7; transform: translateY(-3vw); }	
	100% { opacity:0; transform: translateY(-5vw); }	
}	
@keyframes slideup {
	0% { opacity:0; transform: translateY(5vw); }	
	20% { opacity:0.7; transform: translateY(3vw); }	
	80% { opacity:0.7; transform: translateY(-3vw); }	
	100% { opacity:0; transform: translateY(-5vw); }	
}

