.bg-warning, .bg-info, .bg-success {
	color: #212529;
}

.btn-outline-secondary {
	color: #ffffff;
}

.card {
	background-color: #212529;
	border-color: rgba(255, 255, 255, 0.5);
}

.form-control, .form-control[readonly], .form-control:focus {
	background-color: #343a40;
	border: 1px solid #ced4da;
	color: #ffffff;
}

.input-group-text {
	background-color: #212529;
	color: #ffffff;
}

.modal-content {
	background-color: #212529;
	color: #ffffff;
}

body {
	background-color: #212529;
	color: #ffffff;
}

input, select {
	background-color: #6c757d;
	color: #ffffff;
}

input[type="text"], input[type="password"], select {
	border: 1px solid #ced4da;
}

hr {
	border-top-color: white;
}

.modal-content,
.modal-header,
.modal-footer {
	border-color: dimgrey;
}

.clockpicker-popover {
	background-color: #343a40;
}

.clockpicker-popover .popover-title,
.clockpicker-popover .popover-content {
	background-color: transparent;
}

.clockpicker-plate {
	background-color: black;
}
