/*!
Stylesheet zu openWB Logging

2020 Michael Ortenstein
*/

html {
    font-size: 0.7rem;
}

body {
    margin-bottom: 30px;  /* margin bottom by footer height */
}

body > .container {
    padding: 50px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px; /* fixed height of footer */
    line-height: 30px; /* vertically center the text there */
}

/* very Small devices (up to 575.98px) */
@media screen and (max-width: 575.98px) {
    .navbar-collapse a {
        font-size: 1.8em;
    }
    .navbar-brand {
        font-size: 2.0em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    html {
        font-size: 0.8rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    html {
        font-size: 0.9rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    html {
        font-size: 1.0rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 1.1rem;
    }
}

.vaRow {
    /* vertical alignment of content in rows */
  display: flex;
  align-items: center;
}
